{% import 'macros/forms.html' as forms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block page_content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>