{% extends 'layorts/base.html' %}
{% import 'macros/forms.html' as forms %}

{% block page_content %}
    <form method="post">
        {{ form.hidden_tag() }}
        {{ forms.render_field(form.name) }}
        {{ forms.render_field(form.instruction) }}
        {{ forms.render_field(form.notes) }}
        {{ forms.render_field(form.servings) }}
        {{ forms.render_field(form.time) }}
        <hr>
        <div id="block-ingredients">
            <input id="add-ingredient" type="button" value="Добавить ингредиент">
            {% for form_ingredient in form.ingredients %}
                <div id="form-ingredient-0">
                    {{ forms.render_field(form_ingredient.product) }}
                    {{ forms.render_field(form_ingredient.quantity) }}
                    {{ forms.render_field(form_ingredient.measure) }}
                </div>
            {% endfor %}

        </div>
        <hr>
        <div id="block-tag">
            <input id="add-tag" type="button" value="Добавить тег">
            {% for form_tag in form.tags %}
                <div id="form-tag-0">
                    {{ forms.render_field(form_tag.tag_name) }}
                    {{ forms.render_field(form_tag.tag_category) }}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="get">
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var buttonAddIngredient = document.querySelector('#add-ingredient'), formIngredientCount = 0,
        buttonAddTag = document.querySelector('#add-tag'), formTagCount = 0;

        // общая функция для добавления новых блоков с формой
        function addNewBlockForm(block, formCount) {
            // клонируем блок, который хотим скпировать
            var newBlock = block.cloneNode(true);

            // меняем id у нового блока формы
            newBlock.setAttribute('id', newBlock.getAttribute('id').replace('0', formCount));

            // добавляем новый блок в конец
            block.parentNode.appendChild(newBlock);

            // проходим по div.form-group
            for (var i = 0; i < newBlock.children.length; i++) {

                // проходим по label и input
                for (var n = 0; n < newBlock.children[i].children.length; n++) {
                    var elem = newBlock.children[i].children[n];
                    // меняем арибуты на label
                    if (elem.nodeName === "LABEL") {
                        elem.setAttribute('for', elem.getAttribute('for').replace('0', formCount))
                    }
                    // меняем атрибуты на input
                    else if (elem.nodeName === "INPUT") {
                        elem.setAttribute('id', elem.getAttribute('id').replace('0', formCount));
                        elem.setAttribute('name', elem.getAttribute('name').replace('0', formCount));
                        elem.value = "";
                    }
                }
            }
        }

        function addBlockIngredient() {
            formIngredientCount++;
            addNewBlockForm(document.querySelector('#form-ingredient-0'), formIngredientCount)
        }

        function addBlockTag() {
            formTagCount++;
            addNewBlockForm(document.querySelector('#form-tag-0'), formTagCount)
        }

        buttonAddIngredient.addEventListener("click", addBlockIngredient);
        buttonAddTag.addEventListener("click", addBlockTag);
    </script>
{% endblock %}